

.flight_pannel
{
	opacity: 0.8;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.first
{
	margin-top: 10px;
	width:1360px;
	height:450px;
	background:url('plane.jpg')center left no-repeat ;
	overflow: auto;
}
.second
{
	background-color: white;
	font-family: serif;
	width:1360px;
	height:100px;
	overflow-x: auto;
}
.third
{
	text-align: center;

}

.same
{
	margin-top: 30px;
	margin-left: 40px;
	width:80px;
	height:80px;
	box-sizing: border box;
	border-radius:100px;
	border:1px solid white;\
	box-sizing: border-box;
	box-shadow: 5px 5px 5px 0px #d2d2d2;
	positio:inherit;
	display: inline-block;

}
.same
{
	display:inline-block;
	position:inherit;

}
.last
{
	margin-top: 20px;
	height:260px;
	width:1360px;
	text-align: center;
	background-color: #4a364a;
	border-radius: 10px;
	color:white;

}
.same.flight
{
	background-color: red;
}

.same11
{
	height: 100px;
	margin-left:100px;
}
